<div id="mySidebar" class="sidebar">
    <div onclick="closeNav()"  class="closebtn" >×</div>
    <li href="#" class="nav-link">
        <%= link_to "搜尋學校" , schools_path %>
    </li>
    <li href="#" class="nav-link">
        <%= link_to "我的學校" , schools_path %>
    </li>
</div>

<div id="main">
    <button onclick="openNav()"  class="openbtn">Open Sidebar</button>
</div>

<%=javascript_pack_tag 'sidebar' %>