<h1>Schools</h1>

<div class="container mt-2">
  <div class="row">
    <% @schools.each do |school| %>
      <div class="col-md-3 col-sm-6 item mt-5 p-2 linkable">
        <div class="card item-card card-block">
          <img src="https://static.pexels.com/photos/7096/people-woman-coffee-meeting.jpg" alt="Photo of sunset">
          <%= link_to school_path(school),class: "category-item" do%>
            <h5 class="item-card-title mt-3 mb-3"><%=school.name%></h5>
          <%end%>
          <p class="card-text"><%=school.description%></p>
        </div>
      </div>
    <%end%>
  </div>
</div>

<div class="container col-3 mx-auto mt-5">
  <%= will_paginate @schools, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
</div>
